<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student Update</title>

    <style>

       .container {
           padding: 20px;
       }
    </style>


</head>

<body>
<div class="container">
<h3>Update Student phone number.</h3>
<form th:action="@{/students/form/update/phone}" method="post">

    <input type="number" th:name="id" placeholder="Student id: ">
    <br>
    <input type="text" th:name="phoneNumber" placeholder="new phone number: ">
    <br>
    <button th:type="submit">Update</button>
    <!--<input th:type="submit" value="Update">-->

</form>
</div>
</body>
</html>